@import '~antd/dist/antd.less';
@gallery-width: 300px;
@gallery-height: 300px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gallery {
  width: @gallery-width;
  height: @gallery-height;
  image{
    position: absolute;
    width: @gallery-width;
    height: @gallery-height;
  }
  .button-left{
    vertical-align: middle;
    float: left;
  }
  .button-right{
    vertical-align: middle;
    float: right;
  }
}